html {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(238, 238, 238);
    color:#3d3d3d;
    font-size: 16px;
}
header {
    background-color: rgb(60, 160, 127);
    padding: 2rem;
}
h1 {
    font-size: 2.5rem;
    color: rgb(238, 238, 238);
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}

.index-bullet {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

#main {
    padding: 1.5rem;
}
a {
    color:rgb(13, 148, 103);
}
pre {
    background-color: rgb(195, 211, 206);
    padding:1rem 0 1rem 0;
    overflow-x:auto;
}
ul li {
    margin: .5em 0 .5em 0;
}